@page
@model Frontend.Pages.CreateModel
@{
    ViewData["Title"]="Create";
}
<h1>Crear Municipio</h1>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class=col-md-4>
            <form method="post">
                <div>  </div>
                <div class="form-group">
                    <label asp-for="Municipio.Nombre" class="control-label"> </label>
                    <input asp-for="Municipio.Nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="MIndex">Ir al Inicio</a>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
